.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-areas:
        "adjustsContainer"
        "yearContainer"
        "buttonsContainer"
        "notice";
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px auto;
    grid-gap: 2vw;
    margin-right: 10px;

}

.yearContainer {
    grid-area: yearContainer;
}
#pie-chart{
    margin: auto;
    width: auto;
}
@media screen and (max-width:800px) {
}