.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-areas:
        "adjustsContainer"
        "yearContainer"
        "buttonsContainer"
        "notice";
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px auto;
    grid-gap: 2vw;
    margin-right: 10px;
    grid-row:2;

}

.yearContainer {
    grid-area: yearContainer;
}
#pie-chart{
    margin: auto;
    width: auto;
}
@media screen and (max-width:800px) {
}

.outerChart {
    margin: 0 0 0 10px;
    padding: 10px;
    height: fit-content;
    grid-area: chartCard;
    grid-row:2;
}
.text {
    grid-row:3;
}

.header {
    grid-row: 1;
}